<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-contro mr-2" placeholder="Digite..." />
    <button type="button" class="btn btn-outline-dark">
      buscar
    </button>
  </div>
</form>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button type="button" class="btn-primary" (click)="mostrarImagem()">
          Mostrar Imagem
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd. Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td>
        <img
          *ngIf="showImage"
          [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem"
          src="http://localhost:5000/img/{{ evento.imagemURL }}"
        />
      </td>
      <td>{{ evento.eventoId }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote }}</td>
      <td>
        <button class="btn btn-outline-success">Inserir</button>
        <button class="btn btn-outline-danger">Deletar</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.lenght">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
